
button#send {
    background-color: #8AD47F;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    
}

button#send:hover {
    opacity: .9;
}

button:focus, input:focus {
    outline: none;
}

section {
    width: 50%;
    margin: 160px auto;
}
section p {
    text-align: center;
    font-size: 20px;
    line-height: 1.5em;
    word-spacing: .1em;
    color: #676767;
}
div.container {
    width: 80%;
    margin: auto;
    display: none;
}
div.container .container-header, header {
    overflow: hidden;
    margin-top: 20px;
}
div.container .container-header .headerTitle, header .header-title{
    float: left;
}

div.container .container-header .headerTitle h2, header .header-title h2{
    margin: 0;
}

div.container .container-header .searchTitle, header .header-btn{
    float: right;
}
div#searchTitle {
    margin: auto;
    text-align: center;
    float: right;
}

div#searchTitle input {
    padding: 10px 5px;
    width: 200px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

div#displayData table {    
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
div#displayData {
    border-radius: 8px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 430px;
}
table, th, td {
   text-align: left;
}
thead tr th {
    border-bottom: 2px solid #DDD;
    position: sticky;
    top: 0;
    background: #8AD47F;    
}
tbody tr td {
    border-bottom: 1px solid #DDD;
}

th, td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

th {
    cursor: pointer;
}

th.selected {
    background-color: #58a94c;
}