
button#send {
    background-color: #8AD47F;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    width: 100px;
    
}

button#send:hover {
    opacity: .9;
}

button#send:focus {
    outline: none;
}
h2#tableTitle {
    text-align: center;
    margin-top: 0px;
    display: none;
}
div#displayData table {    
    width: 100%;
    display: none;
    border-collapse: collapse;
    border-spacing: 0;
}
div#displayData {
    margin: auto;
    width: 80%;
    border-radius: 8px;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 430px;
}
table, th, td {
   text-align: left;
}
thead tr th {
    border-bottom: 2px solid #DDD;
    position: sticky;
    top: 0;
    background: #8AD47F;    
}
tbody tr td {
    border-bottom: 1px solid #DDD;
}

th, td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}